In [1]:
#Import pandas
import pandas as pd

In [2]:
#The webpage to scrape 
url="https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

In [3]:
#We need lxml - process html
!pip install lxml

Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.5.2)

In [4]:
#Our dataframe
wiki_df=pd.read_html(url)[0]

In [5]:
#Checking
wiki_df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [6]:
#Dropping NA boroughs
wiki_df.drop(wiki_df[wiki_df["Borough"]=="Not assigned"].index, inplace=True)

In [7]:
#Checking again
wiki_df.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [8]:
#If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough
wiki_df.Neighbourhood.replace(to_replace="Not assigned",value=wiki_df["Borough"], inplace=True)

In [9]:
#Reseting indexes
wiki_df.reset_index(drop=True, inplace=True)
wiki_df.head()

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [10]:
#Url with geographical coords.
url_geo="http://cocl.us/Geospatial_data"

In [11]:
#Our geo dataframe
geo_df=pd.read_csv(url_geo)

In [12]:
#Checking geo data
geo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Postal Code  103 non-null    object
 1   Latitude     103 non-null    float64
 2   Longitude    103 non-null    float64
dtypes: float64(2), object(1)
memory usage: 2.5+ KB

In [13]:
#Sorting values
wiki_df.sort_values(["Postal Code"], inplace=True)
geo_df.sort_values("Postal Code", inplace=True)
#Reseting indexes
wiki_df.reset_index(drop=True, inplace=True)

In [14]:
#Checking data
wiki_df.tail()

    Postal Code    Borough                                      Neighbourhood
98          M9N       York                                             Weston
99          M9P  Etobicoke                                          Westmount
100         M9R  Etobicoke  Kingsview Village, St. Phillips, Martin Grove ...
101         M9V  Etobicoke  South Steeles, Silverstone, Humbergate, Jamest...
102         M9W  Etobicoke                Northwest, West Humber - Clairville

In [15]:
geo_df.tail()

    Postal Code   Latitude  Longitude
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

In [16]:
#Assigning sorted columns
wiki_df=wiki_df.assign(Latitude=geo_df.Latitude, Longitude=geo_df.Longitude)

In [17]:
#Checking
wiki_df

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ...",43.688905,-79.554724
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",43.739416,-79.588437
102,M9W,Etobicoke,"Northwest, West Humber - Clairville",43.706748,-79.594054